<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Blog </title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>
  <header>
    <h2>Quiz: el juego de las preguntas</h2>
  </header>

  <UL>
    <LI><a href="/">Inicio</a>
    <LI><a href="/question">Preguntas</a>
  </UL>

  <section>
    <div>
      <%- body %>
    </div>
  </section>

  <footer>
    <a href="http://es.wikipedia.org/wiki/Quiz">
      ¿Qué es un Quiz?</a>
  </footer>
</body> 
</html>