

<% if ( quizzes.length === 0) {   %>
   <p> No se encuentra ninguna pregunta relaccionada con <i><strong><%= search %> </strong></i> </p> 
   	<a href="/quizzes %>">volver a todas las preguntas</a>

      <% } %>


<table>
   <% for (var i in quizzes) { %>   

      <tr> 
         <td>
            <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
         </td>
      </tr> 
   <% } %>
 </table>