

<div class=centraTabla>
<table>

  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>

<hr style="color: #0056b2;" />
<tr>
<td>
  <form method="get" action="/quizzes" > 
     <p>¿Buscas alguna pregunta ?</p>
     <input type="text" name="search" value ="<%= search%>">
     <input type="submit" value="Enviar" ></div><div> 
 </form>
</td>
</tr>
</table>
</div>
<a href="/quizzes/new"><button type= button>Crear pregunta</button<</a>


