 

 <p>
     La respuesta <strong> <%= answer %> </strong> es <%= result %>.
 
   </p>
   <p>
     <a href="/quizzes"> Más preguntas </a>
  </p>
  

  <% if ( result  === "Incorrecta") {  %>
  <p>
     <a href="/quizzes/<%= quiz.id %>?answer=<%= answer %>"> Inténtelo otra vez </a>
  </p>

  <% } %>